/* Global styles */
body {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	color: #353738;
	line-height: 110%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4 {
	line-height: 140%;
}

h1 {
	font-family:'Voces', cursive;
	font-size: 40px;
}
	
h2 {
	font-size: 26px;
	color: #666;
}

h3 {
	font-family: 'Gafata', serif;
	font-size: 26px;
}

h4 {
	font-family:'Scada', sans-serif;
	font-size: 30px;
    line-height: 38px;
    padding-bottom: 3px;
    display: inline-block;
    letter-spacing:1px;
    margin: 20px 0 10px;	
}

h4 span {
	color: #999999;
	font-size: 16px;
}

h5 {
	font-family:'Gafata', sans-serif;
	font-size: 13px;
	line-height: 150%;
	padding-bottom: 3px;
	display: inline-block;
	letter-spacing:1px;
	margin: 10px 0;	
}

p, ul {
	font-size: 22px;
	line-height: 150%;
	margin-bottom: 25px;
	font-family: 'Gilda Display', serif;
}


ul {
	list-style-type: disc;
	margin-left: 20px;	
}

a {
	color: #999;	
}

a:hover {
	text-decoration: none;
}

strong {
	color: #DB0AAE;
}

.clearfix {
	clear: both;
}


/* Navigation */

header .global-nav a {
	text-decoration: none;
}

header .global-nav a.active {
	text-decoration: underline;
}



/* header */
header {
	background-color: #353738;
	padding: 50px 0 40px;
	margin: 0 0 30px 0;	
}

header nav ul {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
	height: 30px;
	list-style-type: none;
	border-top: 1px solid #666665;
}

header nav ul li {
	font-family: 'Gafata', serif;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 1px;
	float: left;
	margin: -1px 0 0;
}

header ul li a {
	color: #666665;
	padding: 18px 0;
	display: inline-block;
	text-decoration: none;
	min-width: 70px;
}

header nav ul li a.active {
	color: #fff;
	border-top: 1px solid #fff;
	
}

header p span {
	letter-spacing: 5px;
}



/* main content */
.main-content {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
}

.main-content li {
	margin: 3px 0;
}


/* Work */
#about h4+h5{
	display: block;
	width: 150px;
}


/* Portfolio */
.portfolio {
	text-align: center;
}

.portfolio li {
	margin: 0 20px 20px 0;
	list-style-type: none;
	width: 220px;
	display: inline-block;
	min-height: 60px;
}

.portfolio li img {
	max-height: 50px;
}

.portfolio li.qatarlyst {
	background-color: #00214c;
}


/* = footer */
footer  {
	padding: 20px 40px 20px;
	color: #999;
	clear: both;
	width: 80%;
	max-width: 760px;
	margin: 70px auto 0;
	background-color: rgba(128, 128, 128, 0.1);
	
}

footer p,
footer ul {
	font-size: 14px;
	margin: 0;
	
}

footer ul {
	list-style-type: none;
	overflow: auto;
	margin-bottom: 10px;

}

footer address {
	clear: both;
	padding: 40px 0 0;
}

footer .elsewhere {
	border-top: 1px solid #DEDEDE;
}

footer .global-nav li,
footer .elsewhere li {
	float: left;
	margin-right: 5px;
}

footer .global-nav li:after,
footer .elsewhere li:after {
	content: " |";
}
footer li:last-child:after  {
	content: "";
}

footer h5 {
	clear: both;
}

footer .about {
	display: none;
}

a.linkedin {
	color: #3b5998;
}

a.flickr {
	color: #ff0084;
}

a.twitter {
	color: #00aced;
}

a.google {
	color: #dd4b39;
}


@media all and (max-width: 600px) {
	body {
		width: 100%;
	}
	
	body .inner-body {
		/*width: 90%;*/
	}
	
	.main-content {
		width: auto;
		float: none;
		margin: 0 10px;
	}
	
	header {
		padding: 0;
		margin: 0;
	}
	
	header .jump2nav {
		display: block;
	}
	
	header .back2home {
		float: left;
		margin: -130px 0 0 -10px;
		display: block;
		width: 50px;
	}
	
	header span {
		margin-top: 60px;
	}
	
	header nav ul {
		width: auto;
		margin: 0 ;
		padding: 0 10px;
		height: auto;
		list-style-type: none;
	}
	
	header nav ul li {
		float: none;
	}
	
	header nav ul li a {
		padding: 2px 0;
	}
	
	.global-nav {
    		
    }
    
    footer  {
    	padding: 0 10px 10px;
    	width: 100%;
    	margin: 0;
    }
    
    footer .global-nav,
    footer .elsewhere,
    footer .about {
    	width: 90%%;
    	float: none;
    	border: none;
    	
    	min-height: 0;
    	margin: 15px 0 0;
	
 
}