body {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 110%;
}

body .inner-body {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4 {
	line-height: 140%;
}

h1 {
	font-family: 'Droid Serif', serif;
	font-size: 40px;
}
	
h2 {
	font-size: 26px;
	color: #666;
}

h3 {
	font-family: 'Droid Serif', serif;
	font-size: 26px;

}

h4 {
	/*font-family: 'Droid Serif', serif;*/
	font-size: 20px;
	color: #DB0AAE;
	padding-top: 10px;
	
}

h4 span {
	color: #999999;
	font-size: 16px;
}

h5 {
	font-size: 13px;
	font-weight: bold;
	line-height: 150%;
	margin: 10px 0;
	text-transform: uppercase;
	color: #999;
	letter-spacing: 1px;
}

p, ul {
	margin: 0 0 15px 0;
	line-height: 150%;
}

a {
	color: #999;
	
}

a:hover {
	text-decoration: none;
}

.global-nav a {
	text-decoration: none;
}

.global-nav a.active {
	text-decoration: underline;
}

strong {
	color: #DB0AAE;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
	
}

/* header */
header {
	border-top: 3px solid #999999;
	text-align: right;
	padding: 10px 10px 40px;
}

header span {
	display: block;
	clear: both;
}

header h2 {
	float:left;
}

header .jump2nav {
	float: right;
	width: 15px;
	height: 15px;
	background-color: #999;
	color: #DB0AAE;
	text-decoration: none;
	border-radius: 2px;
	margin: -12px -10px 20px 0;
	display: none;
	padding: 4px;
}

header .back2home {
	float: left;
	margin: -70px 0 0 -10px;
}



/* main content */
.main-content {
	float: left;
	width: 77%;
	padding: 0 0 30px;
}


/* Global Nav */
.global-nav {
	font-size: 13px;
	float: right;
	width: 15%;
	padding: 0 0 0 20px;
	border-left: 1px solid #DEDEDE;
	min-height: 450px;
	margin: 0 0 0 20px;
}



/* = footer */

footer  {
	font-size: 12px;
	margin: 40px 0 20px;
	color: #999;
	clear: both;
}

@media all and (max-width: 600px) {
	body {
		width: 100%;
	}
	
	body .inner-body {
		width: 90%;
	}
	
	.main-content {
		width: auto;
		float: none;
	}
	
	header {
		padding-bottom: 10px;
	}
	
	header .jump2nav {
		display: block;
	}
	
	header .back2home {
		float: left;
		margin: -130px 0 0 -10px;
		display: block;
		width: 50px;
	}
	
	header span {
		margin-top: 60px;
	}
	
	.global-nav {
    	width: auto;
    	float: none;
    	margin: 30px 0 0;
    	border: none;
    	border-top: 1px solid #DEDEDE;
    	
    }
 
}