body {
	font-family: helvetica, sans-serif;
	font-size: 16px;
	color: #353738;
	line-height: 110%;
	text-rendering: optimizeLegibility;
}

body .inner-body {
	width: 80%;
	max-width: 760px;
	margin: 0 auto;
	
	
	
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4 {
	line-height: 140%;
}

h1 {
	font-family:'Voces', cursive;
	font-size: 40px;
}
	
h2 {
	font-size: 26px;
	color: #666;
}

h3 {
	font-family: 'Droid Serif', serif;
	font-size: 26px;

}

h4 {
	font-family:'Scada', sans-serif;
	font-size: 30px;
	border-bottom: 3px solid #353738;
    line-height: 38px;
    padding-bottom: 3px;
    display: inline-block;
    letter-spacing:1px;
    margin: 20px 0 20px;
 
	
}

h4 span {
	color: #999999;
	font-size: 16px;
}

h5 {
	font-family:'Scada', sans-serif;
	font-size: 13px;
	border-bottom: 3px solid #999;
	line-height: 150%;
	padding-bottom: 3px;
	display: inline-block;
	letter-spacing:1px;
	margin: 10px 0;
	
	
}

p, ul {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 25px;
	font-family: 'Gilda Display', serif;
}

a {
	color: #999;
	
}

a:hover {
	text-decoration: none;
}

.global-nav a {
	text-decoration: none;
}

.global-nav a.active {
	text-decoration: underline;
}

strong {
	color: #DB0AAE;
}


ul {
	list-style-type: disc;
	margin-left: 20px;	
}

.clearfix {
	clear: both;
}

/* header */
header .jump2nav {
	float: right;
	width: 15px;
	height: 15px;
	background-color: #999;
	color: #DB0AAE;
	text-decoration: none;
	border-radius: 2px;
	margin: -12px -10px 20px 0;
	display: none;
	padding: 4px;
}

header .back2home {
	float: left;
	margin: -70px 0 0 -10px;
}

header {
	margin-bottom: 30px;
	border-bottom: 1px solid #DB0AAE;
}

header p {
	margin: 0;
	display: inline;
}

header nav {
	/*margin: 0 0 0 90px;*/
	display: inline;
}

header nav p {
	letter-spacing: 1px;
}

header p span {
	letter-spacing: 5px;
}



/* main content */
.main-content {
}


/* Work */
#about h4+h5{
	display: block;
	width: 150px;
}


/* Portfolio */
.portfolio {
	text-align: center;
}

.portfolio li {
	margin: 0 20px 20px 0;
	list-style-type: none;
	width: 220px;
	display: inline-block;
	min-height: 60px;
}

.portfolio li img {
	max-height: 50px;
}

.portfolio li.qatarlyst {
	background-color: #00214c;
}


/* = footer */

footer  {
	padding: 70px 40px 20px;
	color: #999;
	clear: both;
	width: 80%;
	max-width: 760px;
	margin: 20px auto;
}

footer p,
footer ul {
	font-size: 14px;
	margin: 0 30px;
}

footer address {
	clear: both;
	padding: 40px 0 0;
}

footer .global-nav,
footer .elsewhere,
footer .about {
	width: 33.3%;
	float: left;
	background-color: #353738;
	min-height: 200px;
}

footer .global-nav .contact {
	margin: 10px 0 0;
}

@media all and (max-width: 600px) {
	body {
		width: 100%;
	}
	
	body .inner-body {
		width: 90%;
	}
	
	.main-content {
		width: auto;
		float: none;
	}
	
	header {
		padding-bottom: 10px;
	}
	
	header .jump2nav {
		display: block;
	}
	
	header .back2home {
		float: left;
		margin: -130px 0 0 -10px;
		display: block;
		width: 50px;
	}
	
	header span {
		margin-top: 60px;
	}
	
	.global-nav {
    	width: auto;
    	float: none;
    	margin: 30px 0 0;
    	border: none;
    	border-top: 1px solid #DEDEDE;
    	
    }
 
}